@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    display: flex;
    font-family: "Dancing Script", cursive;
    justify-content: right;
    align-items: center;
    background-color: ;
}
header{
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "Dancing Script", cursive;
}