@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

header{
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "Dancing Script", cursive;
}

nav{
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

body, h1, h2 {
    display: flex;
    font-family: "Dancing Script", cursive;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
}

img {
    width: 35%;
    display: inline;
    justify-content: center;
    align-items: center;
}